<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common-header">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Le's Bookstore</title>
	
	<!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/styles.css}" rel="stylesheet"/>
	<link th:href="@{/css/non-responsive.css}" rel="stylesheet"/>
	
	<link th:rel="icon" th:href="@{/image/apple-touch-icon.png}"/>
	<!-- Data Table Content -->
	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/dataTables.jqueryui.min.css}"/>
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	
	
	<!-- Text Editor HTML -->
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script>
        tinymce.init({
            selector: 'textarea'
        });
	</script>
</head>

<body>

<!-- ################################################################################################################################################# -->
<!-- ################################################################################################################################################# -->

<!-- Fragmento da Navbar -->
<div th:fragment="navbar">
	<div class="page-top" style="width: 100%; height: 20px; background-color: #f46b42;"></div>
	<!-- Inicio da Navbar -->
	<nav class="navbar navbar-default navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">LE's Bookstore</a>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-left">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						   aria-expanded="false">
							Books
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a th:href="@{/bookshelf}">Browse bookshelf</a>
							</li>
							<li>
								<a href="#">Store hours &#38; directions</a>
							</li>
							<li>
								<a href="#">FAQ</a>
							</li>
						</ul>
					</li>
					<form class="navbar-form" action="">
						<div class="form-group">
							<input type="text" name="keyword" class="form-control" placeholder="Book Title"/>
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a th:href="@{/shoppingCart/cart}">Shopping Cart</a>
					</li>
					<li>
						<a sec:authorize="isAnonymous()" th:href="@{/login}">My Account</a>
					</li>
					<li>
						<a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">My Account</a>
					</li>
					<li>
						<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</nav>
	<!-- Fim da Navbar -->
</div>

<!-- ################################################################################################################################################# -->
<!-- ################################################################################################################################################# -->

<!-- Fragmento dos Scripts -->
<div th:fragment="body-bottom-scripts">
	
	
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/js/scripts.js}"></script>
	
	<!-- Data Tables -->
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
</div>

<!-- ################################################################################################################################################# -->
<!-- ################################################################################################################################################# -->
</body>
</html>