@CHARSET "UTF-8";

hr {
	border           : none;
	height           : 1px;
	color            : #333333;
	background-color : #333333;
	}
.container {
	width : 90%;
	}
.page-top {
	margin-top : -70px;
	}
.navbar {
	margin-bottom : 20px;
	}
.box {
	border : 1px solid red;
	}
.home-headline {
	font-family : 'Times New Roman', Times, serif;
	font-size   : 24px;
	color       : #FFFFFF;
	margin      : auto;
	text-align  : center;
	margin-top  : -13px;
	}
.home-headline span {
	background-color : #231F20;
	padding          : 5px 22px;
	}
.section-headline {
	font-family : 'Times New Roman', Times, serif;
	font-size   : 24px;
	color       : #FFFFFF;
	margin      : auto;
	text-align  : center;
	margin-top  : 90px;
	}
.section-headline span {
	background-color : #231F20;
	padding          : 5px 22px;
	}