<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/header :: common-header" />
	
	<body>
		<!-- Inicio - Replace da Navbar -->
		<div th:replace="common/header::navbar"></div>
		<!-- Fim - Replace da Navbar -->
		
		<div class="container">
			<div class="row" style="margin-bottom: -100px;">
				<div class="col-xs-8">
					<h2 class="section-headline">
						<span th:text="${user}? ${#strings.toUpperCase(user.username)}: 'All Books'"></span>
					</h2>
				</div>
				<div class="col-xs-4">
					<img src="/image/logo.png" alt="" class="img-responsive" />
				</div>
			</div>
			<hr style="position: absolute; width: 50%; height: 6px; background-color: #333333; z-index: -1; margin-top: 5px;" />
			<img class="img-responsive" src="/image/wood.png" style="margin-top: -75px;" />
			
			<!-- ################################################################################################################################################# -->
			<!-- ################################################################################################################################################# -->
			
			<form th:action="@{/shoppingCart/addItem}" method="post">
				<input type="hidden" th:field="*{book.id}" />
				<div class="row" style="margin-top: 120px;">
					<div class="col-xs-3">
						<a th:href="@{/bookshelf}"> Back to book list</a>
						<br />
						<img class="img-responsive" th:src="#{adminPath}+@{/image/book/}+${book.id}+'.png'" />
					</div>
					<div class="col-xs-9">
						<h3 th:text="${book.title}">Book Title</h3>
						<div class="row">
							<div class="col-xs-5">
								<h5>
									<strong>
										Author:
										<span th:text="${book.author}"></span>
									</strong>
								</h5>
								<p>
									<strong>
										Publisher:
										<span th:text="${book.publisher}"></span>
									</strong>
								</p>
								<p>
									<strong>
										Publication Date:
										<span th:text="${book.publicationDate}"></span>
									</strong>
								</p>
								<p>
									<strong>
										Language:
										<span th:text="${book.language}"></span>
									</strong>
								</p>
								<p>
									<strong>
										Category:
										<span th:text="${book.category}"></span>
									</strong>
								</p>
								<p>
									<strong>
										<span th:text="${book.format}"></span>
										:
										<span th:text="${book.numberOfPages}"></span>
										pages
									</strong>
								</p>
								<p>
									<strong>
										ISBN:
										<span th:text="${book.isbn}"></span>
									</strong>
								</p>
								<p>
									<strong>
										Shipping Weight:
										<span th:text="${book.shippingWeight}"></span>
										gs
									</strong>
								</p>
							</div>
							<div class="col-xs-7">
								<div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-6">
												<h5>
													Our Price:
													<span style="color: #DB3208;">
													$
													<span th:text="${book.ourPrice}"></span>
												</span>
												</h5>
												<p>
													List Price:
													<span style="text-decoration: line-through;">
													$
													<span th:text="${book.listPrice}"></span>
												</span>
												</p>
												<p>
													You Save: $
													<span
														th:text="${#numbers.formatDecimal((book.ListPrice-book.ourPrice), 0, 'COMMA', 2, 'POINT')}"></span>
												</p>
												<span>Qty:</span>
												<select name="qty">
													<option th:each="qty : ${qtyList}" th:value="${qty}"
													        th:text="${qty}"></option>
												</select>
											</div>
											<div class="col-xs-6">
												<h4 th:if="*{book.inStockNumber&gt;10}" style="color: darkgreen;">In
													Stock</h4>
												<h4 th:if="*{book.inStockNumber&lt;10 and book.inStockNumber&gt;0}"
												    style="color: darkorange;">
													Only
													<span th:text="${book.inStockNumber}"></span>
													in stock
												</h4>
												<h4 th:if="*{book.inStockNumber==10}" style="color: darkred;">Out of
													Stock</h4>
												<button type="submit" class="btn btn-warning"
												        style="color: black; border: 1px solid black; padding: 10px 40px 10px 40px;">
													Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<hr />
							<p th:utext="${book.description}"></p>
						</div>
					</div>
				</div>
			</form>
		
		
		</div>
		
		<!-- Fim do Container -->
		
		<!-- ################################################################################################################################################# -->
		<!-- ################################################################################################################################################# -->
		
		<!-- Inicio - Replace dos Scripts -->
		<div th:replace="common/header:: body-bottom-scripts"></div>
		<!-- Fim - Replace dos Scripts -->
	</body>

</html>