<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/header :: common-header" />
	
	<body>
		<!-- Inicio - Replace da Navbar -->
		<div th:replace="common/header::navbar"></div>
		<!-- Fim - Replace da Navbar -->
		
		<div class="container">
			<div class="row" style="margin-bottom: -100px;">
				<div class="col-xs-8">
					<h2 class="section-headline">
						<span th:text="${user}? ${#strings.toUpperCase(user.username)}: 'All Books'"></span>
					</h2>
				</div>
				<div class="col-xs-4">
					<img src="/image/logo.png" alt="" class="img-responsive" />
				</div>
			</div>
			<hr style="position: absolute; width: 50%; height: 6px; background-color: #333333; z-index: -1; margin-top: 5px;" />
			<img class="img-responsive" src="/image/wood.png" style="margin-top: -75px;" />
			
			
			<!-- ################################################################################################################################################# -->
			<!-- ################################################################################################################################################# -->
			
			
			<div class="row" style="margin-top: 120px;">
				<div class="col-xs-9 col-xs-offset-3">
					
					<div th:if="${emptyList}">
						<h5 style="font-style: italic;">Oops, no result was found. Try again later</h5>
					</div>
					
					<table border="0" id="bookList">
						<thead>
						<tr>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr class="book-item" data-th-each="book: ${bookList}">
							<td>
								<div th:if="book!= null">
									<div class="row">
										<div class="col-xs-3">
											<a th:href="@{/bookDetail?id=}+${book.id}">
												<img class="img-responsive shelf-book"
												     th:src="#{adminPath}+@{/image/book/}+${book.id}+'.png'" />
											</a>
										</div>
										<div class="col-xs-9">
											<a th:href="@{/bookDetail?id=}+${book.id}">
												<h4 th:text="${book.title}"></h4>
											</a>
											<span th:text="${book.publicationDate}"></span>
											<p th:text="${book.author}"></p>
											<span th:text="${#strings.capitalize(book.format)}"></span>
											<span th:text="${book.numberOfPages}">
												<span> pages</span>
											</span>
											<br />
											<span style="font-size: x-large; color: #DB3208;">
												$
												<span
													th:text="${#numbers.formatDecimal(book.ourPrice, 0, 'COMMA', 2, 'POINT')}"></span>
											</span>
											<span style="text-decoration: line-through;">
												$
												<span
													th:text="${#numbers.formatDecimal(book.listPrice, 0, 'COMMA', 2, 'POINT')}"></span>
											</span>
											<p th:utext="${#strings.abbreviate(book.description, 500)}"></p>
										</div>
									</div>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!-- Fim do Container -->
		
		<!-- ################################################################################################################################################# -->
		<!-- ################################################################################################################################################# -->
		
		<!-- Inicio - Replace dos Scripts -->
		<div th:replace="common/header:: body-bottom-scripts"></div>
		<!-- Fim - Replace dos Scripts -->
	</body>

</html>