<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/non-responsive.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
	<style>
		table {
			border-collapse : collapse;
		}
		table, th, td {
			border : 1px solid #000000;
		}
	
	</style>
	</head>
	<body>
		<p>
			Dear <span th:text="${user.firstName}"></span>, <br />
			Thank you for shopping from our bookstore. We hope you had a good time with our service!
		</p>
		<p>
			Your order number is: <strong>#<span th:text="${order.id}"></span></strong>.
			Here is your order details:
		</p>
		<h2>
			Order Detail for purchase number #<span th:text="${order.id}"></span>
		</h2>
		<hr />
		<table>
			<tr>
				<th>
					Billing Detail
				</th>
				<th>
					Payment Information
				</th>
				<th>
					Shipping Address
				</th>
			</tr>
			<tr>
				<td>
					<span th:text="${order.billingAddres.billingAddressName}"></span><br />
					<span
						th:text="${order.billingAddres.billingAddressStreet1} + ' ' + ${order.billingAddres.billingAddressStreet2}"></span><br />
					<span th:text="${order.billingAddres.billingAddressCity}"></span><br />
					<span th:text="${order.billingAddres.billingAddressState}"></span><br />
					<span th:text="${order.billingAddres.billingAddressZipcode}"></span><br />
				</td>
				<td>
					<span th:text="${order.payment.holderName}"></span><br />
					<span th:text="${order.payment.type}"></span><br />
					<span th:text="${order.payment.cardNumber}"></span><br />
					<span th:text="${order.payment.expiryMonth}+'/${order.payment.expiryYear}'"></span><br />
				</td>
				<td>
					<span th:text="${order.shippingAddress.shippingAddressName}"></span><br />
					<span
						th:text="${order.shippingAddress.shippingAddressStreet1} + ' ' + ${order.shippingAddress.shippingAddressStreet2}"></span><br />
					<span th:text="${order.shippingAddress.shippingAddresssCity}"></span><br />
					<span th:text="${order.shippingAddress.shippingAddressState}"></span><br />
					<span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
				</td>
			</tr>
		</table>
		
		<h3>
			<strong>
				Order Summary
			</strong>
		</h3>
		<table>
			<thead>
				<tr>
					<td>
						<strong>Item Name</strong>
					</td>
					<td class="text-center">
						<strong>Item Price</strong>
					</td>
					<td class="text-center">
						<strong>Item Quantity</strong>
					</td>
					<td class="text-right">
						<strong>Total</strong>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartItem : ${cartItemList}">
					<td>
						<span data-th-text="#{cartItem.book.title}"></span>
					</td>
					<td class="text-center" data-th-text="#{cartItem.book.ourPrice}"></td>
					<td class="text-center" data-th-text="#{cartItem.qty}"></td>
					<td class="text-right" data-th-text="#{cartItem.book.subTotal}"></td>
				</tr>
				<tr>
					<td class="highrow"></td>
					<td class="highrow"></td>
					<td class="highrow text-center">
						<strong>Subtotal</strong>
					</td>
					<td class="highrow text-right" data-th-text="${order.orderTotal}"></td>
				</tr>
				<tr>
					<td class="emptyrow"></td>
					<td class="emptyrow"></td>
					<td class="emptyrow text-center">
						<strong>Tax</strong>
					</td>
					<td class="emptyrow text-right"
					    data-th-text="${#numbers.formatDecimal(order.orderTotal*0.06,0,2)}">
					</td>
				</tr>
				<tr>
					<td class="emptyrow">
						<i class="fa fa-barcode iconbig"></i>
					</td>
					<td class="emptyrow"></td>
					<td class="emptyrow text-center">
						<strong>Total</strong>
					</td>
					<td class="emptyrow text-right" th:with="total=${order.orderTotal*1.06}"
					    data-th-text="${#numbers.formatDecimal(total, 0, 2)}"></td>
				</tr>
			</tbody>
		</table>
		<br />
		<p>
			Best,
			Le's Bookstore.
		</p>
		<p>Since 1923</p>
	</body>
</html>